{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{% csrf_token %}">
        <link rel="stylesheet" href="">

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="{% static 'js/jquery-3.7.0.js' %}"></script>
        <script src="{% static 'js/echarts.min.js' %}"></script>
        <script src="{% static 'js/optionChart.js' %}"></script>
        <script src="{% static 'js/tools.js' %}"></script>
        <style type="text/css">
            .bg-section {background-color: #0D1500;}
            .margin-pubt {margin-top: -20px;}
        </style>
        
        <script type="text/javascript">
            $.when( $.ready ).then(function() {
                let conncetioSstate = {{ status }};
                
                setStartTime();
                updateDurationTime();

                let connectionDots = []

                if (conncetioSstate == 1) {
                    $("#statusTextHr").html("Initializing...");
                    $("#statusTextRr").html("Initializing...");
                    refreshHrAndRr();
                } else if(conncetioSstate == 0) {
                    $("#statusTextHr").html("<span class='text-red-500'>Faild</span>");
                    $("#statusTextRr").html("<span class='text-red-500'>Faild</span>");
                    
                }
            });
        </script
    </head>
    <body class="bg-black font-sans">

        <!-- Public Section -->
        <div class="w-screen bg-section h-[89px] margin-pubt">
            <div class="w-[86%] h-full mx-auto grid grid-cols-2 gap-0">
                <div>
                    <p class="w-full pt-5 text-left text-white text-sm">Duration Time</p>
                    <p id="durationTime" class="w-full text-left text-[#F7F58F] text-2xl">00:00:00</p>
                </div>
                <div>
                    <p class="w-full pt-5 pl-16 text-left text-white text-sm">Start Time</p>
                    <p class="w-full pl-16 text-left text-[#F7F58F] text-2xl">
                        <span id="startTime">15:22</span>
                        <span id="period" class="ml-1 text-base">PM</span></p>
                </div>
            </div>
        </div>

        <!-- HR Monitor Section -->
        <div class="w-screen bg-section h-[366px] mt-4">
            <div class="w-[86%] h-full mx-auto mt-4">

                <!-- Part 1-->
                <div class="flex flex-row pt-4">
                    <div class="basis-1/2">
                        <div id="realTime_HR" class="w-[90px] h-[90px] rounded-full bg-[#2D3D13] text-[#C2FB3B] text-5xl flex justify-center items-center">0</div>
                    </div>
                    <div class="basis-1/2">
                        <p class="w-full text-left text-white text-sm">Heart Rate Monitor</p>
                        <div class="w-full mt-2 flex flex-row">
                            <div>
                                <img src="{% static 'icons/hr.png' %}" class="w-5 h-5" />
                            </div>
                            <p class="pl-1 text-left text-[#A2C64F] text-sm"><span id="statusTextHr">Signal Receiving</span> <span id="connectionDotsHr"></span></p>
                        </div>
                    </div>
                </div>

                <!-- Part 2 -->
                <div class="flex flex-row h-12 w-full mt-6">
                    <div class="basis-1/3">
                        <p class="w-full text-left text-white text-sm">Min. HR</p>
                        <p class="w-full text-left text-[#CD5879] text-[26px]"><span id="min_hr">0</span><span class="text-sm"> BPM</span></p>
                    </div>
                    <div class="basis-1/3">
                        <p class="w-full text-left text-white text-sm">Avg. HR</p>
                        <p class="w-full text-left text-[#C56652] text-[26px]"><span id="avg_hr">0</span><span class="text-sm"> BPM</span></p>
                    </div>
                    <div class="basis-1/3">
                        <p class="w-full text-left text-white text-sm">Max. HR</p>
                        <p class="w-full text-left text-[#CD5879] text-[26px]"><span id="max_hr">0</span><span class="text-sm"> BPM</span></p>
                    </div>
                </div>

                <!-- Part 3 -->
                <div id="hr_wave" class="h-[145px] w-full mt-6">
                    
                </div>

            </div>
        </div>


        <!-- RR Monitor Section -->
        <div class="w-screen bg-section h-[366px] mt-4">
            <div class="w-[86%] h-full mx-auto mt-4">

                <!-- Part 1-->
                <div class="flex flex-row pt-4">
                    <div class="basis-1/2">
                        <div id="realTime_RR" class="w-[90px] h-[90px] rounded-full bg-[#2D3D13] text-[#C2FB3B] text-5xl flex justify-center items-center">0</div>
                    </div>
                    <div class="basis-1/2">
                        <p class="w-full text-left text-white text-sm">Respiration Rate Monitor</p>
                        <div class="w-full mt-2 flex flex-row">
                            <div>
                                <img src="{% static 'icons/rr.png' %}" class="w-5 h-5" />
                            </div>
                            <p class="pl-1 text-left text-[#A2C64F] text-sm"><span id="statusTextRr">Signal Receiving</span> <span id="connectionDotsRr"></span></p>
                        </div>
                    </div>
                </div>

                <!-- Part 2 -->
                <div class="flex flex-row h-12 w-full mt-6">
                    <div class="basis-1/3">
                        <p class="w-full text-left text-white text-sm">Min. RR</p>
                        <p class="w-full text-left text-[#CD5879] text-[26px]"><span id="min_rr">0</span><span class="text-sm"> RPM</span></p>
                    </div>
                    <div class="basis-1/3">
                        <p class="w-full text-left text-white text-sm">Avg. RR</p>
                        <p class="w-full text-left text-[#C56652] text-[26px]"><span id="avg_rr">0</span><span class="text-sm"> RPM</span></p>
                    </div>
                    <div class="basis-1/3">
                        <p class="w-full text-left text-white text-sm">Max. RR</p>
                        <p class="w-full text-left text-[#CD5879] text-[26px]"><span id="max_rr">0</span><span class="text-sm"> RPM</span></p>
                    </div>
                </div>

                <!-- Part 3 -->
                <div id="rr_wave" class="h-[145px] w-full mt-6">
                    
                </div>

            </div>
        </div>
        
        
    </body>
</html>